<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite">
    <test name="test">
        <groups>
	    <run>
		<include name = "MainPage" />
 		<exclude name = "FurniturePage" />
	    </run>
	</groups>
	<classes>
	    <class name = "com.kohls.path.MainPageTest" />
 	    <class name = "com.kohls.path.FurnitureTest" />
	</classes>
    </test>
</suite>
